<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>教师资格证考试官网手机版-教师资格证考试培训权威机构-欣瑞教育</title>
	<meta name="keywords" content="教师资格证,考试,面试,说课,培训,辅导,免费视频,真题,资料"/>
	<meta name="description" content="欣瑞教育，教师资格证考试培训权威机构，十余年专注教师资格证和教师考编培训！"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
        name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="Stylesheet" type="text/css" href="<%= GlobalSettings.css_domain %>mobTheme/StyleSheet.css" />
    <script type="text/javascript" src="<%= GlobalSettings.css_domain %>js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".school_listp1").click(function () {
                var ch2 = $(this).next(".school_listli1_con");
                ch2.slideDown("fast");
            });
            $(".upa").click(function () {
                var ch2 = $(this).parent("div");
                ch2.slideUp("fast");
            });

            $("#stafooter_toolsa").click(function () {
                $(".jumpdiv").slideToggle("fast", function () {
                    if ($(".jumpdiv").is(":visible")) {
                        $("#stafooter_toolsa").html("收起");
                    }
                    else {
                        $("#stafooter_toolsa").html("更多");
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="newstop">
	<a href="http://m.xredu.com/"></a>
    <p>
            各地分校
    </p>
    <div class="clear">
    </div>
</div>
<h3 class="news_h3">
        <a href="tel:4006202002" onclick="ga('send','event','tel','tel-fenxiao','tel-400');">咨询热线：400-620-2002</a>
</h3>
<h3 class="hp_grh3">
	<span>请选择分校</span>
<div class="clear">
</div>
</h3>



<div class="school_list">
	<ul class="school_listul1">
	
    	<li class="school_listli1">
        	<p class="school_listp1">
                    北京分校(1个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>北京欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:北京市海淀区西三环北路72号</p>
                        <p>电话:<a href="tel:4006202002" onclick="ga('send','event','tel','tel-fenxiao','tel-400');"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-zongbu');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
					
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    上海分校(1个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>上海欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:上海市徐汇区中山西路2025号</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-shanghai');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
					
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>

    	<li class="school_listli1">
        	<p class="school_listp1">
                    天津分校(1个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>天津欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:天津市</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-tianjin');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
					
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    重庆分校(1个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>重庆欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:重庆市</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-chongqing');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
					
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>

    	<li class="school_listli1">
        	<p class="school_listp1">
                    江苏分校(13个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>南京欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:南京市鼓楼区广州路5号君临国际2幢503</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=2850603714" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-js-nanjing');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
					
                    <li>
                        <h2>
                            <span>苏州欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:苏州市</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-js-suzhou');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
					
                    <li>
                        <h2>
                            <span>无锡欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:无锡市</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-js-wuxi');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
					
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    山东分校(13个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>山东欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:山东省</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-sd-jinan');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
									
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    广东分校(13个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>广东欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:广东省</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-gd-guangzhou');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
									
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    安徽分校(13个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>安徽欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:安徽省</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-ah-hefei');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
									
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    浙江分校(13个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>浙江欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:浙江省</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-zj-hangzhou');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
									
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    福建分校(13个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>福建欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:福建省</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-fj-fuzhou');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
									
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    河北分校(13个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>河北欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:河北省</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-he-shijiazhuang');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
									
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>
		
    	<li class="school_listli1">
        	<p class="school_listp1">
                    河南分校(13个校区) <span>></span>
            </p>
            <div class="school_listli1_con">
                <ul class="school_listul2">
				
                    <li>
                        <h2>
                            <span>河南欣瑞</span>
                        </h2>
                        <br />
                        <p>地址:河南省</p>
                        <p>电话:<a href="tel:4006202002"><span>400-620-2002</span></a>(9:00-18:00)</p>
                        <p>ＱＱ:<a href="tencent://message/?uin=4006202002" onclick="ga('send','event','chat-qq','chat-qq-mobile','chat-hn-zhengzhou');"><span>400-620-2002</span></a>(9:00-22:00)</p>
						<br/>
                    </li>
									
                	<div class="clear">
					</div>
                </ul>                
                <a class="upa">
                点击收起<img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/promorea2.png" />
                </a>
                <div class="uparoom">
				</div>
			</div>
        </li>

		
	</ul>
</div>



    <br />
    <h3 class="hp_grh3 topborder">
        热门活动
    </h3>
    <a href="http://product.xredu.com/" class="hp_botad">
        <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/hp_ad4.gif" />
    </a>
<%= Fragment.find(589).content.html_safe %>
</body>
</html>
