<div class="toplogo">
        <a href="http://m.xredu.com/" class="logoa">
            <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/logo.png" />
        </a><a href="tel:4006202002" onclick="ga('send','event','tel','tel-sp','tel-400');" class="logotel">4006202002 </a>
        <br />
</div>

    <a href="http://product.xredu.com/products?utf8=%E2%9C%93&search%5Bexam_type_id_eq%5D=&search%5Bexam_level_id_contains%5D=&search%5Btype_id_eq%5D=3&search%5Bskxx_id_eq%5D=" class="hp_botad">
        <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/b1.gif" />
    </a>

<div class="home_bigtools">
        <ul>
            <li class="home_bigtools_li1"><a href="http://m.xredu.com/mobile/huizong/3362" style="border-left: none;">
                <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/tools1.png" />考试资讯 </a></li>
            <li class="home_bigtools_li2"><a href="http://m.xredu.com/mobile/huizong/3366">
                <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/tools2.png" />备考资料 </a></li>
            <li class="home_bigtools_li3"><a href="http://m.xredu.com/mobile/huizong/2143">
                <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/tools5.png" />免费视频 </a></li>
            <li class="home_bigtools_li4"><a href="http://product.xredu.com/">
                <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/tools8.png" />报班购书 </a></li>
			<div class="clear">
    		</div>
        </ul>
</div>

<div class="hp_room">
</div>

<div class="hp_ad">
        <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/hp_ad1.gif" />
    <div class="hp_adcon con1">
            <br />
            <h2>
                这里你能得到什么？
            </h2>
            <p>
                1、90%以上一次性通过考试的机会！
            </p>
            <p>
                2、接受全国最优秀名师亲身指导的机会！
            </p>
            <p>
                3、免费领取教材 内部辅导资料 视频的机会！
            </p>
            <p>
                4、了解80%以上竞争对手真实实力的机会！
            </p>
            <p>
                5、享受欣瑞独家内部资源的机会！
            </p>
            <br />
    </div>
</div>

<div class="hp_room">
</div>

    <h2 class="hp_redh2">
        <a href="tel:4006202002" onclick="ga('send','event','tel','tel-sp','tel-400');">客服电话:400-620-2002 </a>
    </h2>
	
<div class="hp_room">
</div>

<div class="hp_ad">
        <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/hp_ad2.gif" />
    <div class="hp_adcon con2">
            <br />
            <br />
            <h2>
                为什么选择欣瑞？
            </h2>
            <p>
                1、十三年的教师培训经验，你需要什么我知道
            </p>
            <p>
                2、每年超过80%的学员选择欣瑞，其实超过50%来自老学员推荐
            </p>
            <p>
                3、全国近百所分校同步开课，不管你在哪里你都能找到我们
            </p>
            <p>
                4、高清视频网校同步开课，随报随学无限制学习次数
            </p>
            <p>
                5、人性化补课机会，你需要就可以补课
            </p>
            <br />
    </div>
</div>

<div class="hp_room">
</div>

<div class="hp_ad">
        <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/hp_ad3.gif" />
    <div class="hp_adcon con1">
            <br />
            <h2>
                完善的课程体系？
            </h2>
            <p>
                1、全国每月均有新的班次开课，提供选择
            </p>
            <p>
                2、课堂名师讲解，现场提问现场解答
            </p>
            <p>
                3、课后名师邮件解答，第一时间回复
            </p>
            <p>
                4、考试题库APP免费下载，随时随地练习检测
            </p>
            <p>
                5、考前专家预测，确保100%一次性通过
            </p>
            <br />
    </div>
</div>

<div class="hp_room">
</div>

    <h2 class="hp_redh2">
        <a href="tel:4006202002" onclick="ga('send','event','tel','tel-sp','tel-400');">点击在线咨询</a>
    </h2>
	<br />
	
<div class="indexspNew">
	<div class="indexspNew_item">
            <h2 class="gre">
                中学课程
            </h2>
            <ul>
                <li><a href="http://product.xredu.com/a0101.html">标准班（面授）</a> </li>
                <li><a href="http://product.xredu.com/a0201.html">精品班（面授）</a> </li>
                <li><a href="http://product.xredu.com/a0401.html">协议班（面授）</a> </li>
                <li><a href="http://product.xredu.com/z0101.html">标准班（网校）</a> </li>
                <li><a href="http://product.xredu.com/z0201.html">精品班（网校）</a> </li>
                <li class="nob"><a href="http://product.xredu.com/z0401.html">协议班（网校）</a> </li>
            </ul>
		<div class="clear">
		</div>
    </div>
    <div class="indexspNew_item">
        <h2 class="gry">
                小学课程
            </h2>
            <ul>
                <li><a href="http://product.xredu.com/a0101.html">标准班（面授）</a> </li>
                <li><a href="http://product.xredu.com/a0201.html">精品班（面授）</a> </li>
                <li><a href="http://product.xredu.com/a0401.html">协议班（面授）</a> </li>
                <li><a href="http://product.xredu.com/x0101.html">标准班（网校）</a> </li>
                <li><a href="http://product.xredu.com/x0201.html">精品班（网校）</a> </li>
                <li class="nob"><a href="http://product.xredu.com/x0401.html">协议班（网校）</a> </li>
            </ul>
    	<div class="clear">
		</div>
	</div>
	<div class="indexspNew_item">
        <h2>
                幼儿园课程
            </h2>
            <ul>
                <li><a href="http://product.xredu.com/a0101.html">标准班（面授）</a> </li>
                <li><a href="http://product.xredu.com/a0201.html">精品班（面授）</a> </li>
                <li><a href="http://product.xredu.com/a0401.html">协议班（面授）</a> </li>
                <li><a href="http://product.xredu.com/y0101.html">标准班（网校）</a> </li>
                <li><a href="http://product.xredu.com/y0201.html">精品班（网校）</a> </li>
                <li class="nob"><a href="http://product.xredu.com/y0401.html">协议班（网校）</a> </li>
            </ul>
    	<div class="clear">
		</div>
	</div>
	<div class="clear">
	</div>
        <p class="indexspNew_p">
        <a href="http://m.xredu.com/mobile/huizong/2143">0元免费试听课程</a>
        <a href="http://product.xredu.com/" class="gry">猛戳查看更多课程</a>
        </p>
		</div>

<div class="hp_room">
</div>

    <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/popimg.png" width="100%" />
	<br />
	<br />
    <h2 class="hp_redh2">
        <a href="tel:4006202002" onclick="ga('send','event','tel','tel-sp','tel-400');">客服电话:400-620-2002 </a>
    </h2>
    <br />

    <h3 class="hp_grh3">
        热门活动
    </h3>
    <a href="http://product.xredu.com/" class="hp_botad">
        <img alt="" src="<%=GlobalSettings.image_domain %>mobTheme/images/hp_ad4.gif" />
    </a>
	
 <%= Fragment.find(589).content.html_safe %>
