<%= render :partial => '/admin/public/actions' %>
<table class="table table-bordered">
		<tr>
		<td width="15%" style="text-align:right;"><strong>名称:</strong></td>
		<td><%= @keyword.name %></td>
	</tr>
		<tr>
		<td width="15%" style="text-align:right;"><strong>地址:</strong></td>
		<td><%= @keyword.addr %></td>
	</tr>
	
	<tr>
		<td width="15%" style="text-align:right;"><strong>创建时间:</strong></td>
		<td><%= format_date(@keyword.created_at) %></td>
	</tr>
	<tr>
		<td width="15%" style="text-align:right;"><strong>修改时间:</strong></td>
		<td><%= format_date(@keyword.updated_at) %></td>
	</tr>
	</table>
