
<table class="table table-bordered">
	<% @message_table.message_columns.each do |message_column| %>
<tr>
	<td width="15%" style="text-align:right;"><strong><%= message_column.name %>:</strong></td>
	<% if message_column.json_value_hash.empty? %>
		<td><%= @message_text.text[message_column.column_name] %></td>
	<% else %>
		<% if @message_text.text[message_column.column_name].kind_of?(Array) %>
		<td>
			<% @message_text.text[message_column.column_name].each do |md| %>
			<%= message_column.json_value_hash[md] %> 
			<% end %>
		</td>
		<% else %>
		<td><%= message_column.json_value_hash[@message_text.text[message_column.column_name]] %></td>
		<% end %>
	<% end %>
</tr>
	<% end %>
	<tr>
		<td width="15%" style="text-align:right;"><strong>创建日期:</strong></td>
		<td><%= format_date(@message_text.created_at) %></td>
	</tr>
	<tr>
		<td width="15%" style="text-align:right;"><strong>修改日期:</strong></td>
		<td><%= format_date(@message_text.updated_at) %></td>
	</tr>
	<tr>
		<td width="15%" style="text-align:right;"><strong>IP:</strong></td>
		<td><%= @message_text.ip %></td>
	</tr>
	<% if @message_text.user_id > 0 %>
	<tr>
		<td width="15%" style="text-align:right;"><strong>用户名:</strong></td>
		<td><%= @message_text.user_name %></td>
	</tr>
	<% end %>
</table>

